*.pyc
*.swp
tags
tmp/
__pycache__/
.DS_Store
.netrwhist
.VimballRecord
.vim_blog
cache/
certificates/
cookies.txt
VimballRecord
vim/plugged
vim/bundle
tmux/plugins
profile/
password*

fish/completions
fish/functions
fish/conf.d
fish/themes
fish/fish_variables
fish/user.fish
